<div>
  <router-link v-show="!item.hidden" v-if="!item.children" :to="item.path">
    <el-menu-item :index="item.path">
      <i v-if="item.meta && item.meta.icon" :class="item.meta.icon"></i>
      <span v-if="item.meta && item.meta.title" slot="title">{{item.meta.title}}</span>
    </el-menu-item>
  </router-link>
  <el-submenu v-else :index="item.name||item.path">
    <template slot="title">
      <i v-if="item.meta && item.meta.icon" :class="item.meta.icon"></i>
      <span v-if="item.meta && item.meta.title" slot="title">{{item.meta.title}}</span>
    </template>

    <template v-for="child in item.children" v-if="!child.hidden">
      <sidebar-item class="nest-menu" v-if="child.children&&child.children.length>0" :item="child" :key="child.path" :base-path="resolvePath(child.path)"></sidebar-item>
      <router-link v-else :to="child.path" :key="child.name">
        <el-menu-item :index="child.path">
          <span v-if="child.meta&&child.meta.title" slot="title">{{child.meta.title}}</span>
        </el-menu-item>
      </router-link>
    </template>
  </el-submenu>
</div>